.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #0d1116;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 20px;
  color: white;
}

.timer {
  font-size: 25px; 
  color:  white;
}

.menu { 
  color: white; 
  display: flex; 
  justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
}

.menuItems {
  margin: 20px; 
}

.top {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto; 
  display: flex; 
  flex-direction: row;
}

.topRight {
  text-align: left;
  padding: 20px;
}

.topLeft {
  padding: 20px;
}

.squidTop {
  width: 500px;
  height: 500px;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px; 
  padding-top: 100px;
  padding-bottom: 100px; 
  background: -webkit-linear-gradient(left, #8AD4EC 30%, #FF56A9 50%, #FFAA6C 60%);
}

.overviewCircle { 
  margin-bottom: -50px;
  z-index: 1;
  background-color: white;
  border-radius: 200px;
  border: 5px solid black; 
  height: 200px;
  width: 200px;
}

.overviewBox { 
  border-radius: 20px;
  border: 5px solid black;
  padding: 60px;
  background: white; 
  margin: auto;
  width: 70%; 
}

.overviewInstructions {
  text-align: left;
}

.overviewText {
  text-align: left;
  font-size: 25px;
}

.faq {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%; 
}

.faqItem {
  padding-top: 20px;
  color: white;
  text-align: left; 
}

.faqQuestion { 
  font-size: 25px;
  font-weight: bold;
}

.faqAnswer { 
  font-size: 25px;
}

.symbols {
  height: 30px;
  width: auto;
}

.footer {
  color: white; 
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%; 
  padding-top: 100px;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #8AD4EC 30%, #FF56A9 50%, #FFAA6C 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #8AD4EC 30%, #FF56A9 50%, #FFAA6C 60%);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.no-mint {
  background: Gray;
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.timer-invisible {
  color:  black;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
